# Библиотека Pandas

## Data Frame

In [28]:
import pandas as pd

In [29]:
#создание DataFrame по столбцам с помощью словарей
frame = pd.DataFrame({'numbers':range(10), 'chars':['a']*10})

In [30]:
frame

   numbers chars
0        0     a
1        1     a
2        2     a
3        3     a
4        4     a
5        5     a
6        6     a
7        7     a
8        8     a
9        9     a

In [31]:
#создание DataFrame с помощью чтения данных из файла
#frame = pd.read_csv('dataset.tsv', header=0, sep='\t')

In [32]:
frame

   numbers chars
0        0     a
1        1     a
2        2     a
3        3     a
4        4     a
5        5     a
6        6     a
7        7     a
8        8     a
9        9     a

In [33]:
frame.columns

Index(['numbers', 'chars'], dtype='object')

In [34]:
frame.shape

(10, 2)

In [35]:
new_line = {'Name':'Perov', 'Birth':'22.03.1990', 'City':'Penza'}

In [36]:
#добавление строки в DataFrame
frame.append(new_line, ignore_index=True)

    numbers chars       Birth   City   Name
0       0.0     a         NaN    NaN    NaN
1       1.0     a         NaN    NaN    NaN
2       2.0     a         NaN    NaN    NaN
3       3.0     a         NaN    NaN    NaN
4       4.0     a         NaN    NaN    NaN
5       5.0     a         NaN    NaN    NaN
6       6.0     a         NaN    NaN    NaN
7       7.0     a         NaN    NaN    NaN
8       8.0     a         NaN    NaN    NaN
9       9.0     a         NaN    NaN    NaN
10      NaN   NaN  22.03.1990  Penza  Perov

In [37]:
#добавление строки в DataFrame
frame = frame.append(new_line, ignore_index=True)

In [38]:
frame

    numbers chars       Birth   City   Name
0       0.0     a         NaN    NaN    NaN
1       1.0     a         NaN    NaN    NaN
2       2.0     a         NaN    NaN    NaN
3       3.0     a         NaN    NaN    NaN
4       4.0     a         NaN    NaN    NaN
5       5.0     a         NaN    NaN    NaN
6       6.0     a         NaN    NaN    NaN
7       7.0     a         NaN    NaN    NaN
8       8.0     a         NaN    NaN    NaN
9       9.0     a         NaN    NaN    NaN
10      NaN   NaN  22.03.1990  Penza  Perov

In [39]:
#добавление столбца в DataFrame
frame['IsStudent'] = [False]*2 + [True]*2

ValueError: Length of values (4) does not match length of index (11)

In [40]:
frame

    numbers chars       Birth   City   Name
0       0.0     a         NaN    NaN    NaN
1       1.0     a         NaN    NaN    NaN
2       2.0     a         NaN    NaN    NaN
3       3.0     a         NaN    NaN    NaN
4       4.0     a         NaN    NaN    NaN
5       5.0     a         NaN    NaN    NaN
6       6.0     a         NaN    NaN    NaN
7       7.0     a         NaN    NaN    NaN
8       8.0     a         NaN    NaN    NaN
9       9.0     a         NaN    NaN    NaN
10      NaN   NaN  22.03.1990  Penza  Perov

In [ ]:
#удаление строк DataFrame
frame.drop([5,6], axis=0)

In [ ]:
frame

In [ ]:
#удаление строк DataFrame (inplace)
frame.drop([5,6], axis=0, inplace=True)

In [ ]:
frame

In [ ]:
#удаление столбца DataFrame (inplace)
frame.drop('IsStudent', axis=1, inplace=True)

In [ ]:
frame

In [ ]:
#запись DataFrame в файл
frame.to_csv('updated_dataset.csv', sep=',', header=True, index=False)

In [ ]:
!cat updated_dataset.csv

In [ ]:
#аналог команды для пользователей Windows
!more updated_dataset.csv