In [15]:
import numpy as np 
import pandas as pd
import math

In [8]:
data = pd.read_csv("water.txt", sep="\t")

In [47]:
data
data

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
..      ...            ...        ...       ...
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

In [10]:
mor = np.array(data['mortality'])
mor

array([1247, 1668, 1466, 1800, 1609, 1558, 1807, 1299, 1637, 1359, 1392,
       1755, 1519, 1307, 1254, 1491, 1555, 1428, 1318, 1260, 1723, 1379,
       1742, 1574, 1569, 1096, 1591, 1402, 1772, 1828, 1704, 1702, 1581,
       1309, 1259, 1427, 1724, 1175, 1486, 1456, 1696, 1236, 1711, 1444,
       1591, 1987, 1495, 1369, 1257, 1587, 1713, 1557, 1640, 1709, 1625,
       1625, 1527, 1627, 1486, 1485, 1378])

In [29]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic
mor_std = mor.std(ddof=1)/math.sqrt(len(mor))
mor_std
_tconfint_generic(mor.mean(), mor_std, len(mor)-1, 0.05, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [36]:
data2 = data.drop(np.where(data['location'] == "North")[0])
mor2 = np.array(data2['mortality'])

In [37]:
mor2 = np.array(data2['mortality'])
mor_std2 = mor2.std(ddof=1)/math.sqrt(len(mor2))
_tconfint_generic(mor2.mean(), mor_std2, len(mor2)-1, 0.05, 'two-sided')

(1320.1517462936238, 1433.463638321761)

In [44]:
data3 = data.drop(np.where(data['location'] == "South")[0])
mor3 = np.array(data3['mortality'])

mor_std3 = mor3.std(ddof=1)/math.sqrt(len(mor3))
_tconfint_generic(mor3.mean(), mor_std3, len(mor3)-1, 0.05, 'two-sided')

(1586.5605251961385, 1680.6394748038613)

In [48]:
data4 = data.drop(np.where(data['location'] == "North")[0])
mor4 = np.array(data4['hardness'])
mor_std4 = mor4.std(ddof=1)/math.sqrt(len(mor4))
_tconfint_generic(mor4.mean(), mor_std4, len(mor4)-1, 0.05, 'two-sided')

(53.467198692036106, 86.07126284642544)

In [50]:
data5 = data.drop(np.where(data['location'] == "South")[0])
mor5 = np.array(data5['hardness'])
mor_std5 = mor5.std(ddof=1)/math.sqrt(len(mor5))
_tconfint_generic(mor5.mean(), mor_std5, len(mor5)-1, 0.05, 'two-sided')

(21.42248728572426, 39.37751271427574)

In [60]:
import scipy.stats
np.ceil((scipy.stats.norm.ppf(1-0.05/2)))

2.0